<div class="row" id="row">
    <div class="col-6">
        <img class="land" src="/assets/git.png">
    </div>
    <div class="col-6">

        <img id="push" src="/assets/user.png"/>

    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>REPOSITORIES</h1>
    </div>
</div>
<br>
<div class="row">
    <div class="col-6">
        <p>github-search</p>
        <p>quotes</p>
        <p>goalapp</p>
        <p>pigdice</p>
        <p>address-book</p>
        <p>hello-world-1</p>
        <p>pingpong</p>
        <p>anitas-kitchen</p>
        <p>calculator</p>
    </div>
    <div class="col-6">
        <p>resort</p>
        <p>portfolio</p>
        <p>photography</p>
        <p>rest</p>
        <p>new</p>
        <p>my-first-webpage</p>
        <p>cookierecipe</p>
        <p>hello-world</p>
        <p>delani_studio_site</p>

    </div>
</div>